sudo: required
language: android
android:
  components:
    - platform-tools
    - tools
    - build-tools-28.0.3
    - android-28
before_install:
 - yes | ${ANDROID_HOME}/tools/bin/sdkmanager "platforms;android-27"
before_script:
 - chmod +x gradlew
 - chmod +x generate-apks.sh
script:
 - ./gradlew build
after_success:
 - ./generate-apks.sh
