<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.systers.mentorship">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MentorshipApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="${usesCleartextTraffic}">
        <activity
            android:name=".view.activities.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activities.AboutActivity" />
        <activity android:name=".view.activities.FeedbackActivity" />
        <activity
            android:name=".view.activities.FilterActivity"
            android:theme="@style/FilterTheme" />
        <activity
            android:name=".view.activities.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.SignUpActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity android:name=".view.activities.RequestDetailActivity" />
        <activity android:name=".view.activities.MemberProfileActivity" />
        <activity android:name=".view.activities.SendRequestActivity" />
        <activity
            android:name=".view.activities.SettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>